In [1]:
import pandas as pd
import os
from scipy.stats import mode

In [2]:
root = os.getcwd()
result_path = os.path.join(root, "all_model_predictions.csv")
result = pd.read_csv(result_path)
result

,texts,DistilBERT_predictions,RoBERTa_predictions,XLNet_predictions,ELECTRA_predictions,DeBERTa_predictions
0,4114 1298 322 76 395 4024 20 2598 3977 20 20 6...,0,2,2,2,0
1,4114 1298 1297 674 1838 4116 61 1289 84 1445 4...,0,0,0,0,0
2,96 1707 1295 3457 468 2348 804 1846 4134,0,0,0,0,0
3,4132 146 1839 3413 3977,1,2,0,2,0
4,3352 1001 32 1999 3 74 220 20 1309 390 36 4129,1,2,2,1,1
...,...,...,...,...,...,...
295,4114 1298 1846 4134 395 395 395,0,0,0,0,0
296,2583 3352 1001 20 51 1846 250 2718,1,1,1,1,1
297,4114 1298 4114 1298 3907 1101 3403 4119 4116 17,2,0,2,0,2
298,337 1838 4116 36 1935,1,0,0,1,1
299,1631 20 1144 395 395 395 3421 20 3421 20 1266 ...,0,0,0,0,0

In [3]:
model_columns = ["DistilBERT_predictions", "RoBERTa_predictions", "XLNet_predictions", "ELECTRA_predictions", "DeBERTa_predictions"]
result["labels"] = result[model_columns].mode(axis=1)[0]

In [4]:
df = result.drop(columns=["DistilBERT_predictions", "RoBERTa_predictions", "XLNet_predictions", "ELECTRA_predictions", "DeBERTa_predictions"])
df["labels"] = df["labels"].astype(int)
df

                                                 texts  labels
0    4114 1298 322 76 395 4024 20 2598 3977 20 20 6...       2
1    4114 1298 1297 674 1838 4116 61 1289 84 1445 4...       0
2            96 1707 1295 3457 468 2348 804 1846 4134        0
3                             4132 146 1839 3413 3977        0
4      3352 1001 32 1999 3 74 220 20 1309 390 36 4129        1
..                                                 ...     ...
295                   4114 1298 1846 4134 395 395 395        0
296                2583 3352 1001 20 51 1846 250 2718        1
297   4114 1298 4114 1298 3907 1101 3403 4119 4116 17        2
298                             337 1838 4116 36 1935        1
299  1631 20 1144 395 395 395 3421 20 3421 20 1266 ...       0

[300 rows x 2 columns]

In [5]:
with open('predictions.txt', 'w') as f:
    for index, row in df.iterrows():
        tokens = row['texts'] 
        predicted_label = row['labels']  
        formatted_output = f"'{tokens}' {predicted_label}\n"
        
        f.write(formatted_output)

print("Predictions have been saved to predictions.txt")

Predictions have been saved to predictions.txt